@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
}

body{
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    font-size: 16px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.showAnswer{
    display: flex!important;
}

.hideAnswer{
    display: none;
}

.ert{
    transition: 1s;
}